<!DOCTYPE html>
<html lang="en" ng-app="APP">
<head>
    <meta charset="UTF-8">
    <title>STL Mesh Info</title>
    <link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>

    <h2>STL Mesh Info</h2>
    <form method='post' action='upload' enctype="multipart/form-data">
    <input type='file' name='fileUploaded' id="file">
    <input type='submit' id="upload-input" class="inputfile">
    <label for="upload-input">Get Info</label>

                        
 </body>
</html>